@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

// Font Variables
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// Color Variables
$color-primary-teal: #0ca678;
$color-primary-gray: #e9ecef;
$color-black: #222;

$color-gray-light: #ced4da;
$color-gray-dark: #adb5bd;

// Other Variables
$border-radius-5px: 5px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  background-color: $color-primary-gray;
}
