@import '../../../index.scss';

.add-post {
  &__container {
    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-column-gap: 6rem;
    grid-row-gap: 3rem;
  }

  &__text--inputs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__input--description {
    height: 100%;
  }

  &__publish--btn {
    grid-column: 2/-1;
    justify-self: end;
  }
}
