@import '../../index.scss';

.container {
  max-width: 144rem;
  margin: 8rem auto;

  &__header {
    margin-bottom: 5rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: $font-medium;
    color: $color-black;
  }
}
