@import '../../index.scss';

.container {
  max-width: 144rem;
  margin: 8rem auto;
  padding: 0 3.2rem;

  &__header {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: $font-medium;
    color: $color-black;
  }
}
