@import '../index.scss';

.auth {
  &__container {
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 15rem;
    padding: 0 3.2rem;
  }
}

.my-posts {
  &__alt--text {
    font-size: 1.6rem;
    font-weight: $font-regular;
    color: $color-primary-teal;
  }
}

.fallback-text {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: $font-regular;
  color: $color-black;
}
