@import '../index.scss';

.my-profile {
  &__edit--btn .button__icon {
    font-size: 1.3rem;
  }
}

.auth {
  &__container {
    max-width: 105rem;
    margin: 0 auto;
    margin-top: 15rem;
    padding: 0 3.2rem;
  }
}
