@import '../../../index.scss';

.main-navigation {
  width: 30%;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 2.3px;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: $font-regular;
    color: $color-black;
    border-bottom: 2.3px solid transparent;
    width: calc(100% + 2px);
    text-align: center;
    line-height: 2rem;
  }

  &__link--active:link,
  &__link--active:visited {
    border-bottom: 2.3px solid $color-teal-light;
  }
}
