@import '../../index.scss';

.header {
  background-color: $color-primary-gray;
  padding-right: 10rem;
  padding-left: 24rem;
  border-bottom: 0.5px solid #ced4da;

  @include for-small-device {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__backdrop {
    margin-top: 5.9rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
  }

  &__logo:link,
  &__logo:visited {
    text-decoration: none;
    display: block;
    font-weight: $font-semibold;
    font-size: 2.4rem;
    color: $color-primary-teal;
  }

  &__burger {
    display: none;
    cursor: pointer;

    @include for-small-device {
      display: initial;
    }
  }

  &__burger--item {
    height: 3px;
    width: 25px;
    background-color: $color-black;
    margin: 5px;
    transition: all 0.3s ease;
  }

  &__burger--line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  &__burger--line2 {
    opacity: 0;
  }

  &__burger--line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
