@import '../../../../index.scss';

.comment-item {
  &__container {
    position: relative;
    background-color: $color-teal-light-2;
    padding: 1.2rem 1.2rem;
    padding-right: 3rem;
    border-radius: $border-radius-5px;
  }

  &__main--content {
    display: flex;
    gap: 1rem;
  }

  &__user-img--holder {
  }

  &__user-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    gap: 2rem;
    margin-top: 0.4rem;
  }

  &__user-comment--holder {
  }

  &__user-date--holder {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__user-name {
    font-size: 1.3rem;
    font-weight: $font-medium;
  }

  &__comment {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    line-height: 1.2;
    font-weight: $font-regular;
    color: $color-black;
  }

  &__comment-date {
    font-size: 1.15rem;
    color: $color-gray-dark-3;
    font-weight: $font-regular;
  }

  &__dropdown {
    right: 8px;
    top: 3px;
  }
}
